body {
    margin: 20px 40px;
    font-family: 'Roboto', sans-serif;
}

.tan-box {
    margin: 20px 0px;
    background: #E2DAC6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
}

.gray-box {
    margin: 20px 0px;
    background: #E5E5E5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     padding: 10px 20px;
}

.title {
    text-align: center;
}

.center {
    text-align: center;
}

/* NAVIGATION BAR */

nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 0px;
}

.nav-text {
    font-size: 24px;
    padding: 0px 0px 0px 15px;
    color: black;
}

nav a:link {
    text-decoration: none;
}

.nav-text {
    padding-bottom: 20px;
}

.active {
    color: #BB0000;
}

#home-img {
    height: 80px;
}

#nav-sio {
    font-size: 36px;
    text-decoration: none;
}

#right-nav a {
    padding: 0px 10px;
}

#red-line {
    width: 100%;
    margin: 0px 0px;
    height: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

/* HOME PAGE */

.home-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 300px;
}

.home-row h3 {
    margin: 10px 0px;
    font-size: 24px;
}

.home-course {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin: 10px;
}

#current-courses {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
} 

.gray-box.course-right {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 40px;
}

.tan-box.course-right {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.three-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    margin: 10px 10px;
    justify-content: space-between;
}

.white-box {
    background-color: white;
}

.white-box h4 {
    padding-left: 10px;
    padding-top: 120px;
    margin: 10px;
    font-size: 16px;
    text-align: left;
}

#current-courses p {
    margin: 2px 0px;
    font-size: 12px;
}

.course-num {
    margin-bottom: 6px;
}

#c05-410 {
    background: #B3CBC4;
}

#c05-430{
    background: #AEBAD2;
}

#c15-213 {
    background: #B6D3E6;
}

#c67-272 {
    background: #C9E1CD;
}

#c85-241 {
    background: #B1D8DA;
}

#fall2021 {
    margin-left: 10px;
}

i {
    margin: 10px;
    font-weight: 300;
}

#spring2021 {
    margin-left: 10px;
}

/* CATALOG PAGE */

#catalog-filter {
    width: 100%;
    margin: 5px 0px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 12px;
}

.dropdown {
    display: inline-block;
}

.dropdown button {
    margin: 5px 0px;
    margin-right: 7px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 5px 10px;
}

.dropdown i {
    margin: 2px 3px;
}

#search-bar {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    margin: 5px 0px;
    display: inline-block;
}

form {
    display: inline-block;
}

#search-bar input {
    background: #FFFFFF;
    border: none;
    padding: 5px 10px;
}

#search-bar button {
    background: #FFFFFF;
    border: none;
    margin: 0px;
    padding: 5px 10px;

}

#search-bar i {
    margin: 2px 3px;
}

#catalog-table {
    width: 100%;
    text-align: left;
    border-spacing: 0px 10px;
}

#table-header {
    background: #E2DAC6;
    padding: 0px 20px;

}

th {
    padding: 10px 10px;
    position: sticky;
    top: 0;
    background: #E2DAC6;
    font-weight: 700;

}

.course {
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.course:hover {
    background: #E5E5E5;
}

.course td {
    padding: 10px;
}

/* DETAILS PAGE */

hr {
    border: 1px solid #8E1A28;;
}

.back-btn {
    margin: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 10px 15px;

}

.back-btn i {
    font-size: 20px;
}
.row {
    display: table;
    margin: 10px;
}

.row p {
    font-size: 14px;
    margin: 4px 0px;
}

.row h2, h3 {
    margin: 9px 0px;
}


.options-col {
    float: left;
    width: 30%;
    padding: 5px;
    margin: 5px;
}

.info-col {
    float: left;
    width: 65%;
    padding: 5px;
    margin: 5px;
}

.options-col form {
    width: 100%;
}

.options-col br {
    display: block;
    content: " ";
    margin-top: 5px;
}

.submit-btn { 
    margin: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 5px 10px;

}

.form-row {
    width: 100%;
    display: table;
    font-size: 14px;
    margin: 10px 0px;
}

.form-input {
    float: left;
    width: 10%;
}

.form-label {
    float: left;
    width: 88%;
    padding-left: 3px;
}


/* SCHEDULE PAGE */

.schedule-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 300px;

}

.schedule-row h3, h4 {
    text-align: center;
}


#inner-schedule {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: repeat(15, 1fr);

}

#plan {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.day-box {
    background-color: white;
    margin: 5px;

}

.right {
    text-align: right;
    margin: 5px;
}

#inner-schedule p {
    font-size: 12px;
    margin: 0px 5px;
}

.course-top{
    display: flex;
    justify-content: space-between;

}

#inner-schedule h4 {
    margin: 0px;
}

#mon {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#tue {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#wed {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

#thu {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

#fri {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}

#p05-410M {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 8;
    background: #B3CBC4;
    padding: 5px;
}

#p05-410W {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 8;
    background: #B3CBC4;
    padding: 5px;
}

.plan-class p {
    font-size: 10px;
    text-align: left;
    margin: 0px;
}

.plan-class {
    text-align: left;
    margin: 0px 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.white {
    background-color: white;
}

#plan-courses {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    /* margin: 0px 10px; */
    margin-right: 20px;
} 

#plan-courses p {
    margin: 2px 0px;
    font-size: 12px;
}



